.spinner {
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner div {
  --bs-spinner-width: 10rem;
  --bs-spinner-height: 10rem;
  --bs-spinner-border-width: 1rem;
  --bs-spinner-animation-speed: 1s;
}

.categoryContainer {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer {
  overflow: hidden;
  margin: 1rem;
  border-radius: 8px;
  -webkit-user-drag: none;
}

.imageContainer img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
  transform: scale(1.3);
  filter: brightness(0.6);
  transition: transform 0.5s ease, filter 0.5s ease;
}

.imageContainer img:hover {
  transform: scale(1);
  filter: brightness(1);
}
