/* .parentContainer {
  background-color: rgba(248, 221, 227, 1);
  display: grid;
  height: 100vh;
  height: 100svh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow-y: hidden;
}
.backgroundImageContainer {
  background-image: url("../../assets/backgrounds/dounuts-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wave {
  position: absolute;
  fill: rgba(248, 221, 227, 1);
  top: -40%;
  left: -5px;
  height: 160%;
  transform: translate(-95%) rotateX(180deg);
  z-index: 5;
}

.content {
  z-index: 10;
  border: 5px solid var(--text);
  width: 40rem;
  height: 40rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* SignUp.module.css */
/* SignUp.module.css */
.parentContainer {
  display: grid;
  height: 100vh;
  height: 100svh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  overflow-y: hidden;
  
}
.backgroundImageContainer {
  background-image: url("../assets/backgrounds/dounuts-background.jpeg");
  background-position: 0px -50px;
  background-repeat: no-repeat;
  object-fit:cover;
  background-size:95%;
  
}
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(248, 221, 227, 1);
}
.wave {
  position: absolute;
  fill: rgba(248, 221, 227, 1);
  top: -40%;
  left: 0;
  height: 160%;
  transform: translate(-100%) rotateX(180deg);
  z-index: 5;
  
}
.logoContainer{

  text-align: center;
  margin: 2rem 0 0 0;
  
}

.logo{
  width: 15%;
  
}
.content {
  fill: rgba(248, 221, 227, 1);
  z-index: 10;
  border: 5px solid var(--text);
  width: 40rem;
  height: 40rem;
  font-size: 4rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.form1{
  
  width: 30rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 15px;
  align-items: center;
  /* font-family: "Dosis", sans-serif; */
}

h2 {
 /* font-family: "Dosis"; */
  align-items: cente
  r;
  font-size: 30px;
  /* font-family: "cursive"; */
  color:  rgb(204, 86, 69);
  display: flex;
flex-direction: column; 
align-items: center;
margin-bottom: 0px;
padding-top: 0px;
}
p{ align-items: center;
  font-size: 15px;
  /* font-family: "Dosis SemiBold", sans-serif; */
  color:  rgb(204, 86, 69);
  display: flex;
flex-direction: column; 
align-items: center;
}

.formGroup {
  margin-bottom: 10px; 
display: flex;
flex-direction: column; 

padding-left: 30px;
  }
  label {
   
    font-weight: 500;
      font-size: 15px;
      color: rgb(142, 66, 37);
      justify-content:left;
      margin-right: 60%;
     
    }   
    input {
      
      padding: 10px;
      border: 1px solid #e6dada;
      border-radius: 15px;
      outline: none;
      background-color: #fffcfc;
      width: 80%; 
    }
    .btn{
      background-color: rgba(225, 29, 56, 0.59);
  color: rgb(93, 26, 6);
  font-weight: 600;
  border: none;
  border-radius: 12px; 
  padding: 1px; 
  width: 85%; 
  margin-top: 10px;
  height: 30px;
  
    }
    button.btn:hover{
      background-color: #59192b;
      color:#fed3d7;
    }
    .socialIcons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      
  }
  
  
  .googleIcon,
  .facebookIcon {

      text-decoration: none;
      font-size: 16px;
    margin-right: 10px; 
      color:  rgb(142, 66, 37); 
      margin-bottom: 10px;
  }
  
 
  .horizontalLine{
  
    width: 90%;
    text-align: center;
    position: relative;
    border-top: 00.1px solid rgb(142, 66, 37);
    margin-top: 25px;
  }
  .lineText{
    color: rgb(142, 66, 37);
    /* margin-top: 20px; */
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(250, 232, 236);
    font-size: 0.7rem;
  }
  .inputPass{
    font-size: 1.7rem;
    border-radius: 1.4rem;
    border: 1px solid white;
    width: 90%;
    text-indent: 1rem;
    height: 4rem;
  
  }
  
  .showPassBtn{
    font-size: 1.7rem;
    border-radius: 1.4rem;
    border: 0;
    width: 10%;
    text-align: center;
    
    height: 4rem;
    background-color: white;
    color: rgba(225, 29, 56, 1);
  }
  
  .inputPass:focus, .input:focus{
    outline: none ;
    border-color: white ;
    background-color: rgba(255, 255, 255, 0.35);
  }
  
  .si{

    color:rgb(204, 86, 69);
    font-style: italic;
    font-weight: 600;
    

    
  }
  .si:hover{
    color:  #59192b;;
  }





.showPasswordBtn {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  position: absolute;
  right: 30%; 
  top: 60%; 
  transform: translateY(-50%); 
  padding: 0;
  display: flex;
  align-items: center;
}


.showPasswordBtn svg {
  font-size: 1.3rem;
  color: rgb(232, 83, 103);
}


.showPasswordBtn:hover {
  background-color: transparent;
}
