:root {
  --background: rgba(241, 243, 246, 1);
  --skeleton: rgba(227, 229, 232, 1);
  --primary: rgba(240, 83, 117, 1);
  --primary-dimmed: rgb(197, 71, 98);
  --secondary: rgba(39, 185, 153, 1);
  --secondary-dimmed: rgb(32, 160, 132);
  --text: rgba(99, 64, 72, 1);
  --accent-70: rgba(99, 64, 72, 0.7);
  --accent-20: rgba(99, 64, 72, 0.2);
  --gap: 2rem;
  --primary-font: Roboto;
  --secondary-font: "cursive";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  font-family: "Dosis", sans-serif;
  color: var(--text);
}
